#orange{
    height: 25px;
    text-align: center;
    background-color: rgb(255, 69, 0);
    font-size: 22px;
    
    color: rgb(253, 247, 247);
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav_list{
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
    font-size: 1.4rem;
    list-style-type: none;
    
}
.nav_item:not(:last-child){
   margin-right: 60px;
}

.nav_list .nav_link{
text-transform: capitalize;
color: rgb(31, 30, 30);
text-decoration:none ;

}
.icon-search ,.icon-cart ,.icon-user{
   margin: 10px;
}
.icon-search{
   margin-left: 400px;
}
#hero-box{
   width: 1350px;
   height: 500px;
   border: 2px solid black;
   
}

.hero-header {
  
   font-family: Poppins,sans-serif;
   font-size: 18px;
   font-weight: 400;
   line-height: 28px;
  color: rgb(92, 90, 90);
   box-sizing: border-box;
   display: flex;
   min-height: 500px;
   align-items: center;
   width: 100%;
   height: 500px;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
  
   background-image: url('https://cdn.shopify.com/s/files/1/0399/1728/9633/files/hero-desktop-ashwagandha_x720.jpg?v=1608662725');
}
.category{
   display: grid;
   grid-template-columns: 30% 30% 30%;
    margin-top: 50px;
 

}
.category > div >img{
   width: 400px;
   margin-left: 100px;
}
.category > div >img:hover{
   width: 450px;
   
}
.category > div >h3{
   margin-left: 200px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: rgb(49, 49, 49);
}
.category > div >p{
   margin-left: 200px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: rgb(141, 138, 138);
}
.content > .images >div > img{
   width: 300px;

}
.images{
   flex-direction: row;
  display: flex;


   margin-top: 50px;
   
}
.images > div > h4{
   margin-left: 80px;
   font-size: 15px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: rgb(124, 122, 122);
}
.images > div > img{
   margin-right: 80px;
   
}
.p-4 > div{
-webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: transparent;
font-family: Poppins,sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 28px;
color: #777;
box-sizing: border-box;
padding: 1.5rem!important;
display: flex;
flex-wrap: wrap;
align-items: flex-start;
}
.p-4 > div > img{
   width: 150px;
   margin-left:100px ;
}
#pt-boxes{
   display: grid;
   grid-template-columns: 30% 30% 30%;
}
#pt-boxes > div{
   width: 300px;
   height: 200px;
   padding: 20px;
   margin-top: 50px;
   margin-left: 100px;
   border: 1px solid rgb(131, 125, 125);
}
#pt-boxes > div > p{

color: rgb(78, 76, 76);
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pt-title{
   
   color: rgb(148, 144, 144);
   font-family: Verdana, Geneva, Tahoma, sans-serif
   ;
   }
   .container-follow{
      display: grid;
      grid-template-columns: 80% 5% 5%;
      margin-top: 100px;
   }
   .container-follow > div:nth-child(1){
      margin-left: 100px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 20px;
   }
   .container-follow >div>a> .img{
      width: 40px;
      height: 40px;
   }
   .images-container{
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      margin-left: 100px;
      margin-right: 100px;
   }
   .images-container  div  img{
      width: 250px;
   
      
   }
   .bottom-box{
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      margin-top: 50px;
      background-color: rgb(203, 203, 230);

      padding: 50px;
      
   }
  .bottom-box>div>a> h3{
      text-decoration: none;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 15px;
      color: rgb(100, 99, 99);
      
   }
   .bottom-box>div>a{
      text-decoration: none;
      

   }
.bottom-box>div>h3{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 15px;
   text-decoration: none;
}
.bottom-box > div> a> img{
   width: 20px;
   height: 20px;
   margin: 10px;
}
.bottom-box>div>p{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 15px;

}

 
  .menu{
    position: absolute;
    
    background-color: white;
    width: 250px;
    height: 100px;
    opacity: 0;
   visibility: hidden;
 }
 .menu-cart{
position: absolute;
   background-color: white;
   width: 100px;
   height: 100px;
   opacity: 0;
  visibility: hidden;
 
}
 .menu.active{
    visibility: visible;
    opacity: 1;
 }
 .menu-cart.active{
   visibility: visible;
   opacity: 1;
}
 .search{
    position: relative;
    overflow: hidden;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 60px;
    transition: 0.5%;
    box-shadow: 0 0 0 5px white;
 }
 .search .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: white;
    cursor: pointer;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
 }
 .search .icon::before{
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    border:1px solid rgb(116, 113, 113);
    border-radius:50% ;
    transform: translate(-4px,-4px);


 }
 .search .icon::after{
   content: "";
   position: absolute;
   height: 10px;
   
   border:1px solid rgb(124, 120, 120);
   border-radius:50% ;
   transform: translate(6px,6px)rotate(315deg);


}
.search.active{
   width: 400px;
}
.search .input{
   position: relative;
   width: 400px;
   height: 30px;
   left: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
 
}
.search .input input{
   position: absolute;
   top: 0;
  height: 100%;
   width: 100%;
   outline: none;
   font-size: 18px;
   padding:  10px 0;
   border: none;
}
.clear{
   position: absolute;
   top: 50%;
   transform: translate(-50%);
   width: 15px;
   height: 15px;
   right: 15px;
   background: white;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
}
.clear::before{
   position: absolute;
   content: "";
   width: 1px;
   height: 15px;
   background: rgb(80, 79, 79);
   transform: rotate(45deg);
}
.clear::after{
   position: absolute;
   content: "";
   width: 1px;
   height: 15px;
   background: rgb(80, 79, 79);
   transform: rotate(315deg);
}